body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100vw;
    height: 93vh;;
    background-image: url("https://10websites-design-to-html-css.netlify.app/automotive-car-design/car-bg.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 1000px;
    /* border: 2px solid green; */
    margin: 0 auto;
    height: 99vh;
}

nav {
    color: white;
    height: 5vh;
    /* border: 2px solid purple; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#logo {
    font-size: 3em;
}

.fas {
    padding-right: 0.3em;
}

.links {
    color: white;

}

a {
    color: white;
    text-decoration: none;
}

#firstBtn {
    height: 50px;
    padding: 5px 10px;
    color: white;
    background-color: #00C2FF;
    border: none;
    cursor: pointer;
    width: 160px;
    font-size: 1em;
}

.link {
    margin: 0 15px;
}

#main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

h1 {
    font-size: 4em;
    color: #00C2FF;
    margin-bottom: 0.8em;
    font-weight: bold;
}

#special {
    font-size: 2.3em;
    margin-bottom: 0.5em;
}

#secondBtn {
    width: 300px;
    height: 70px;
    background-color: #00C2FF;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
}

footer {
    height: 7vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    color: #00C2FF;
}

.group {
    float: left;
    margin-right: 13em;
}

#last {
    margin: 0;
}

.container2 {
    width: 1000px;
    margin: 0 auto;
    height: 5vh;
}